@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;
  background-color: #0d0d11;
  color: #9c9c9c;
  font-size: calc( 14px + 4 * ((100vw - 320px) / 1120));
  font-weight: 300;
  font-family: "Poppins";
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

[class*="__container"] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.button {
  background-color: #3d96f4;
  color: #fff;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  border-radius: 50px;
  padding: 16px 30px;
}

@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
}

@media (max-width: 560px) {
  .button {
    font-size: 13px;
    padding: 14px 20px;
  }
}

.button-dark {
  background-color: rgba(129, 129, 139, 0.2);
}

.title {
  font-size: calc( 24px + 27 * ((100vw - 320px) / 1120));
  line-height: calc( 37px + 24 * ((100vw - 320px) / 1120));
  font-weight: 500;
  color: #fff;
}

.text {
  line-height: 1.5;
  color: #9c9c9c;
}

.header {
  color: #fff;
}

.header__container {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: calc( 15px + 20 * ((100vw - 320px) / 1120));
          column-gap: calc( 15px + 20 * ((100vw - 320px) / 1120));
}

.header__logo {
  position: relative;
  z-index: 5;
}

@media (max-width: 560px) {
  .header__logo {
    width: 32px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32px;
            flex: 0 0 32px;
    overflow: hidden;
  }
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__cart {
  position: relative;
  z-index: 5;
}

.header__button {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #131313;
    padding: 100px 15px 30px;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 90px;
    background-color: #131313;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body.menu-open {
    left: 0;
  }
  .menu__body.menu-open::before {
    left: 0;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 3px;
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

@media (max-width: 991.98px) {
  .menu__list {
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    row-gap: 10px;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .menu__link {
    font-size: 32px;
  }
}

.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu.icon-menu-open::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .icon-menu.icon-menu-open span {
    display: none;
  }
  .icon-menu.icon-menu-open::after {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

@media (max-width: 560px) {
  .cart-header {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.cart-header__text {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 560px) {
  .cart-header__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: none;
  }
}

.cart-header__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgba(129, 129, 139, 0.3);
  border-radius: 50%;
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 560px) {
  .cart-header__quantity {
    border-radius: 0;
    width: 33px;
    height: 45px;
    background: url("../img/cart.svg") center/100% no-repeat;
  }
}

.main-page {
  padding-top: 20px;
}

.main-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

@media (max-width: 767.98px) {
  .main-page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-page__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.main-page__body {
  max-width: 505px;
}

.main-page__images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc( 10px + 20 * ((100vw - 320px) / 1120));
}

.body__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc( 10px + 20 * ((100vw - 320px) / 1120));
}

.body__category span {
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 10px;
  line-height: 1.7;
  padding: 11px 19px;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
}

.body__title {
  position: relative;
  z-index: -1;
}

.body__title img {
  position: absolute;
  top: -20px;
  left: -30px;
  width: 122px;
  height: 122px;
}

.body__text {
  max-width: 417px;
  font-size: calc( 14px + 4 * ((100vw - 320px) / 1120));
}

.body__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 27px;
}

.images__items {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: calc( 30px + 30 * ((100vw - 320px) / 1120));
          column-gap: calc( 30px + 30 * ((100vw - 320px) / 1120));
  row-gap: calc( 20px + 12 * ((100vw - 320px) / 1120));
}

.images__item img {
  width: 100%;
}

@media (max-width: 767.98px) {
  .images {
    padding-right: 0;
  }
}

.item-1 {
  grid-row: span 2;
}

.item-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.clients {
  padding-top: calc( 20px + 50 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 20px + 50 * ((100vw - 320px) / 1120));
}

.clients__content {
  text-align: center;
}

.clients__title {
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 44px;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 15px;
}

.clients__item img {
  max-width: 100%;
}

.services {
  padding-top: calc( 20px + 50 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 20px + 50 * ((100vw - 320px) / 1120));
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  gap: calc( 20px + 12 * ((100vw - 320px) / 1120));
}

@media (max-width: 767.98px) {
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .services__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc( 12px + 20 * ((100vw - 320px) / 1120));
}

@media (max-width: 468px) {
  .services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: calc( 12px + 20 * ((100vw - 320px) / 1120));
}

.services__column:first-child {
  padding-top: calc( 0px + 48 * ((100vw - 320px) / 1120));
}

.item-service {
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding-top: calc( 25px + 30 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 25px + 30 * ((100vw - 320px) / 1120));
  padding-left: calc( 15px + 10 * ((100vw - 320px) / 1120));
  padding-right: calc( 15px + 10 * ((100vw - 320px) / 1120));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.item-service__icon {
  display: inline-block;
  position: relative;
  padding: 0px 0px 30% 0px;
}

.item-service__icon img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.item-service__title {
  color: #ffffff;
  font-weight: 400;
  font-size: calc( 15px + 4 * ((100vw - 320px) / 1120));
  line-height: 1.5;
}

.item-service__text {
  font-size: calc( 12px + 4 * ((100vw - 320px) / 1120));
  color: #81818b;
}

.choose {
  padding-top: calc( 20px + 50 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 20px + 50 * ((100vw - 320px) / 1120));
}

.choose__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc( 20px + 44 * ((100vw - 320px) / 1120));
}

@media (max-width: 767.98px) {
  .choose__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.choose__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .choose__images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.choose__image img {
  max-width: 100%;
}

.choose__image-big {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.choose__image-small {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.choose__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.list__item:not(:last-child) {
  margin-bottom: calc( 8px + 8 * ((100vw - 320px) / 1120));
}

.list__item img {
  padding: calc( 5px + 3 * ((100vw - 320px) / 1120));
  border-radius: 50%;
  background-color: rgba(129, 129, 139, 0.1);
}

.stats {
  padding-top: calc( 20px + 50 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 20px + 50 * ((100vw - 320px) / 1120));
}

.stats__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc( 20px + 12 * ((100vw - 320px) / 1120));
}

@media (max-width: 767.98px) {
  .stats__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stats__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[2];
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: calc( 20px + 12 * ((100vw - 320px) / 1120));
}

@media (max-width: 620px) {
  .stats__cards {
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: (1fr)[1];
        grid-template: repeat(4, 1fr)/repeat(1, 1fr);
  }
}

.stats__image {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39%;
          flex: 0 0 39%;
  overflow: hidden;
  position: relative;
  padding: 0px 0px 46% 0px;
  border-radius: 0 76% 65% 66%;
}

.stats__image img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767.98px) {
  .stats__image {
    padding: 0px 0px 119% 0px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.cards__item {
  padding: calc( 20px + 20 * ((100vw - 320px) / 1120));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}

.cards__item-title:not(:last-child) {
  margin-bottom: calc( 15px + 15 * ((100vw - 320px) / 1120));
}

.testimonials {
  padding-top: calc( 20px + 50 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 20px + 50 * ((100vw - 320px) / 1120));
}

.testimonials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials__body:not(:last-child) {
  margin-bottom: calc( 26px + 38 * ((100vw - 320px) / 1120));
}

@media (max-width: 991px) {
  .testimonials__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: calc( 10px + 20 * ((100vw - 320px) / 1120));
  }
}

.body__text {
  max-width: 736px;
}

.body__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cards-testimonials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc( 26px + 22 * ((100vw - 320px) / 1120));
}

@media (max-width: 767.98px) {
  .cards-testimonials__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cards-testimonials__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding-top: calc( 40px + 24 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 40px + 24 * ((100vw - 320px) / 1120));
  padding-left: calc( 27px + 13 * ((100vw - 320px) / 1120));
  padding-right: calc( 27px + 13 * ((100vw - 320px) / 1120));
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 68px  auto auto 18px;
  -ms-grid-columns: 1fr;
      grid-template: 68px  auto auto 18px / 1fr;
  gap: 34px;
  gap: calc( 16px + 18 * ((100vw - 320px) / 1120));
}

@media (max-width: 767.98px) {
  .cards-testimonials__item {
    -ms-grid-rows: 68px auto auto 18px;
    -ms-grid-columns: 1fr;
        grid-template: 68px auto auto 18px / 1fr;
  }
}

.cards-testimonials__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc( 14px + 2 * ((100vw - 320px) / 1120));
}

.cards-testimonials__image {
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  height: 68px;
  width: 68px;
  padding: 0px 0px 10% 0px;
}

.cards-testimonials__image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-testimonials__image-1 {
  border-radius: 0 76% 65% 66%;
}

.cards-testimonials__image-2 {
  border-radius: 76% 0 65% 66%;
}

.cards-testimonials__image-3 {
  border-radius: 76% 65% 0 66%;
}

.cards-testimonials__header-descr {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cards-testimonials__name {
  color: #ffffff;
}

.cards-testimonials__title {
  font-weight: 400;
  font-size: calc( 24px + 8 * ((100vw - 320px) / 1120));
  line-height: 140%;
  color: #ffffff;
}

.cards-testimonials__descr {
  font-size: 16px;
  line-height: 150%;
}

.cards-testimonials__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.blog {
  padding-top: calc( 20px + 50 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 20px + 50 * ((100vw - 320px) / 1120));
}

.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__body:not(:last-child) {
  margin-bottom: calc( 26px + 38 * ((100vw - 320px) / 1120));
}

@media (max-width: 991px) {
  .blog__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: calc( 10px + 20 * ((100vw - 320px) / 1120));
  }
}

.cards-blog__items {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 48px;
          column-gap: 48px;
  row-gap: 20px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cards-blog__item {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 24px;
  overflow: hidden;
}

.item-card {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto minmax(23px, auto) minmax(53px, auto) 1fr minmax(26px, auto);
  -ms-grid-columns: 1fr;
      grid-template: auto minmax(23px, auto) minmax(53px, auto) 1fr minmax(26px, auto)/1fr;
  gap: 20px;
  padding-bottom: 40px;
}

.item-card__image {
  padding: 0px 0px 50% 0px;
  overflow: hidden;
  position: relative;
}

.item-card__image img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-card__image span {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 9px 10px;
  background-color: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
  color: #ffffff;
}

.item-card__content {
  min-height: 100%;
  padding: 36px 26px 40px;
  font-size: 16px;
}

.item-card__subtitle {
  line-height: 150%;
  padding: 0 26px;
}

.item-card__title {
  max-width: 322px;
  font-weight: 400;
  font-size: 19px;
  line-height: 140%;
  color: #ffffff;
  padding: 0 26px;
}

.item-card__text {
  padding: 0 26px;
}

.item-card__link {
  font-size: 14px;
  color: #3d96f4;
  padding: 0 26px;
}

.item-card__link span {
  line-height: 160%;
  position: relative;
  padding-bottom: 2px;
}

.item-card__link span:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3d96f4;
  bottom: 0;
  left: 0;
}

.ready {
  padding-top: calc( 20px + 50 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 20px + 50 * ((100vw - 320px) / 1120));
}

.ready__body {
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding-top: calc( 28px + 24 * ((100vw - 320px) / 1120));
  padding-bottom: calc( 28px + 24 * ((100vw - 320px) / 1120));
  padding-left: calc( 20px + 20 * ((100vw - 320px) / 1120));
  padding-right: calc( 20px + 20 * ((100vw - 320px) / 1120));
}

.body-ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: calc( 26px + 22 * ((100vw - 320px) / 1120));
}

@media (max-width: 767.98px) {
  .body-ready {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.body-ready__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-ready__inner {
  max-width: 348px;
  text-align: center;
}

.body-ready__title {
  font-weight: 400;
  font-size: calc( 21px + 11 * ((100vw - 320px) / 1120));
  line-height: 140%;
}

.body-ready__title:not(:last-child) {
  margin-bottom: 16px;
}

.body-ready__buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: calc( 16px + 16 * ((100vw - 320px) / 1120));
}

@media (max-width: 400px) {
  .body-ready__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: 1fr/repeat(3, 1fr);
  -webkit-column-gap: calc( 0px + 64 * ((100vw - 320px) / 1120));
          column-gap: calc( 0px + 64 * ((100vw - 320px) / 1120));
  row-gap: calc( 24px + 16 * ((100vw - 320px) / 1120));
  padding: 160px 0;
}

@media (max-width: 991.98px) {
  .footer__columns {
    -ms-grid-rows: auto 1fr auto;
    -ms-grid-columns: 1fr;
        grid-template: auto 1fr auto / 1fr;
    padding: 100px 0;
  }
}

@media (max-width: 767.98px) {
  .footer__columns {
    padding: 70px 0;
  }
}

.footer__bottom {
  padding: 46px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid rgba(129, 129, 139, 0.2);
}

.column-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc( 18px + 14 * ((100vw - 320px) / 1120));
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.social__item {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(129, 129, 139, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.social__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.column-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .column-lists {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 400px) {
  .column-lists {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.column-list__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #ffffff;
}

.column-list__title:not(:last-child) {
  margin-bottom: calc( 15px + 15 * ((100vw - 320px) / 1120));
}

.column-list__item:not(:last-child) {
  margin-bottom: calc( 10px + 14 * ((100vw - 320px) / 1120));
}

.column-list__link {
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.column-list__link:hover {
  color: #ffffff;
}

.column-form {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc( 18px + 14 * ((100vw - 320px) / 1120));
}

.column-form__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #ffffff;
}

.column-form__text {
  font-size: 16px;
  line-height: 150%;
}

.column-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

@media (max-width: 450px) {
  .column-form__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.column-form__input {
  color: #ffffff;
  padding: 16px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: transparent;
  border: 1px solid rgba(129, 129, 139, 0.9);
  border-radius: 50px;
}
